/* css styles */

.card {
  height: 100%;
  margin-bottom: 1rem;
}

.card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-body .text-center {
  margin-top: auto;
}

d-topics-list {
  display: block;
  width: 100%;
}

d-topics-list iframe {
  width: 100% !important;
  max-width: none !important;
}